
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: white;
	border-bottom: 2px solid #00d1b2;
	/* border-bottom: 2px solid rgba(238,184,43,1); */
}
.navbar button {
	/* background-color: rgba(238,184,43,1) !important; */
	/* color: white !important; */
}